<div class="second-nav">
  <ul>
      <li><a href="/contractmanager/" class="link-nav ">Contracts</a></li>
      <li><a href="/contractmanager/alertsContracts" class="link-nav ">Alerts</a></li>
      <li><a href="/contractmanager/indicators" class="link-nav link-nav-active">Indicators</a></li>
      <li><span><a href="" class="disabled">Permissions</a></span></li>
  </ul>
</div>
<div class="kpis-filters">
    <span>Year:</span>
    <div class="select select-register">
      <select id='year-filter' onchange="updateChartAverageReponseDays()">
        <option selected value='Users'>2020</option>
        <option value='Departments'>2021</option>
      </select> 
  </div>
  

</div>
<div class="kpis-container">
    <div class="chart-container">
      <br><h2>Monthly Required Warnings</h2><br>
      <canvas id="warningsRequired" height="300"></canvas>
    </div>
    <div class="chart-container">
      <br><h2>Contracts Managed in 6 Days</h2><br>
      <canvas id="sixWarnings" height="300"></canvas>
    </div>
    <div class="chart-container">
      <br><h2>Average Response Days</h2><br>
      <div class='kpis-filters' style='margin-top:0px;'>
        {{!-- SELECT FILTER TYPE --}}
        <div class="select select-register">
          <select id='select-filter' onchange="updateChartAverageReponseDays()" style="width:250px;">
            <option selected value='Users'>Analize by Users</option>
            <option value='Departments'>Analize by Departments</option>
          </select> 
        </div>
      </div> 
      <canvas id="averageResponseDays" height="300"></canvas>
    </div>
    <div class="chart-container">
      <br><h2>Average days from creation date</h2><br>
      <canvas id="averageReceptionWon" height="300"></canvas>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<script src="../js/kpis.js"></script>

